<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check Seats</title>
    <link href="css/style.css" rel="stylesheet">
    <style>
         select,input {
            
            outline: 0;
            padding: 10px;
            background-image: none;
            margin: 10px;
            color: black;
            cursor: pointer;
            border: 1px solid black;
            border-radius: 3px;
        }
        select:focus option[selected] {
      display: none;
    }
        input:hover{
            background-color: rgb(125, 178, 238);
        }
    </style>
</head>
<body>
    <!-- Navbar Start -->
    <div class="container-fluid position-relative nav-bar p-0">
        <div class=" position-relative p-0 px-lg-8" style="z-index: 9;">
            <nav class="navbar navbar-expand-lg bg-light navbar-light shadow-lg py-3 py-lg-0 pl-3 pl-lg-5">
                <a href="index.html" class="navbar-brand">
                    <h1 class="m-0 text-primary"><span class="text-dark">INDIAN</span>RAILWAYS</h1>
                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
                    <div class="navbar-nav ml-auto py-0">
                        <a href="index.html" class="nav-item nav-link ">Home</a>
                        <a href="/check_pnra" class="nav-item nav-link">PNR Enquiry</a>
                        <a href="/check_seat" class="nav-item nav-link active">Seats available</a>
                        <a href="/schedule" class="nav-item nav-link ">Train schedule</a>
                        <a href="/fare" class="nav-item nav-link">Fare enquiry</a>
                        
                        <a href="register.html" class="nav-item nav-link">Sign up</a>
                        <a href="login.html" class="nav-item nav-link">Login</a>
                    </div>
                </div>
            </nav>
            <a href="" class="navbar-brand" style="position: relative;top: 150px;">
                <h2 class="m-0 text-primary" style="padding-left: 600px;padding: top 100px;"><span class="text-dark">Check</span>Seats available</h2>
            </a>
        </div>
    </div>
    

    
    <div style="position: relative;left: 590px;top: 160px;">
        <form action="/check_seats" method="POST">
            <select name="train_no" id="train_no" class="form-select" style="border-radius: 0.25em;">
                <option value=""  selected>Select train number</option>
                <option value="16515">16515</option>
                <option value="16592">16592</option>
                <option value="10216">10216</option>
                <option value="16515">16515</option>
                <option value="22691">22691</option>
              </select>
              <input type="submit" value="Check Availability" id="avai">
        </form>        
    </div>
</body>
</html>
