<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check PNR</title>
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
    <!-- Navbar Start -->
    <div class="container-fluid position-relative nav-bar p-0">
        <div class=" position-relative p-0 px-lg-8" style="z-index: 9;">
            <nav class="navbar navbar-expand-lg bg-light navbar-light shadow-lg py-3 py-lg-0 pl-3 pl-lg-5">
                <a href="index.html" class="navbar-brand">
                    <h1 class="m-0 text-primary"><span class="text-dark">INDIAN</span>RAILWAYS</h1>
                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
                    <div class="navbar-nav ml-auto py-0">
                        <a href="index.html" class="nav-item nav-link ">Home</a>
                        <a href="/check_pnr" class="nav-item nav-link">PNR Enquiry</a>
                        <a href="/schedule" class="nav-item nav-link active">Train schedule</a>
                        
                        <a href="register.html" class="nav-item nav-link">Sign up</a>
                        <a href="login.html" class="nav-item nav-link">login</a>
                    </div>
                </div>
            </nav>
            <a href="" class="navbar-brand" style="position: relative;top: 150px;">
                <h2 class="m-0 text-primary" style="padding-left: 600px;padding: top 100px;"><span class="text-dark">Check</span>PNR</h2>
            </a>
        </div>
    </div>
    

    
    <div style="position: relative;left: 450px;top: 160px;">
        <form action="/check_pnr" method="POST">
            <label for="pnr">Enter PNR Number:</label>
            <input type="text" name="pnr" required>
            <input type="submit" value="Check PNR">
        </form>        
    </div>
</body>
</html>
